
<div class="home" id="concept">
    <div class="home__inner">

    </div>
</div>

<style>
    .home{
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #DFBDC6;
    }
    header{
        display: none!important;
    }
</style>