
<div class="home" id="concept">
    <div class="home__inner">
        <p style="text-align: center; margin: 0 auto 30px">
            <img src="https://cdn.shopify.com/s/files/1/0605/0060/7209/files/cran_bc0b4669-fae4-4aa7-92be-1188a2112656.png?v=1646898113" alt="" width="240px" height="auto">
        </p>
        <p style="text-align: center;">
            いつもCRAN BY MOLAKをご愛顧いただき誠にありがとうございます。<br>


この度、CRAN BY MOLAKは2022年11月30日をもちまして<br>

ECサイトでの販売を終了させて頂くことになりました。<br>


お客様には、これまで長きにわたりご愛顧を賜り誠にありがとうございました。<br><br>


公式EC、公式Qoo10店、公式スマセル店<br>

につきましては、同日19:00にクローズさせていただきます。<br>

小売店各店舗での販売は継続いたします。<br>

<br>

残り僅かな販売期間となりますが、皆様のご利用を、心よりお待ちしております。<br>
        </p>
    </div>
</div>

<style>
    .home{
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #DFBDC6;
    }
    header{
        display: none!important;
    }
    #shopify-section-footer{
        display: none!important;

    }
</style>