test

<div class="phome__brand" id="concept">
    <div class="phome__brand--blc">
        <h3 class="phome__brand--ttl">(&nbsp;&nbsp;BRAND CONCEPT&nbsp;&nbsp;)</h3>
        <p class="phome__brand--concept">Concept</p>
        <p class="phome__brand--spconcept">Concept</p>
        <p class="phome__brand--txt">明日は今日よりも、もっとすてきな自分に。</p>
        <p class="phome__brand--txt">あなたの持つ感性を心のままに。<br>
            内に秘めた自分らしい美しさを見つけよう。</p>
        <p class="phome__brand--txt">perseではじまる新しい私との出会い。</p>
        <p class="phome__brand--en">Tomorrow, You will be better than you are.<br>
            Let your sensitivity wherever your heart takes you.<br>
            Find hidden your own beauty within yourself.<br>
            Meet a new you with perse.
        </p>

        <div class="fadein_block">
            <div class="phome__brand--img01 fadein02"><img src="{{ 'img_brand01.png?v=1644307925' | file_url }}"
                    alt="1" loading="lazy" width="auto" height="auto"></div>
            <div class="phome__brand--img02 fadein03"><img src="{{ 'img_brand02.png?v=1644307925' | file_url }}"
                    alt="2" loading="lazy" width="auto" height="auto"></div>
            <div class="phome__brand--img03 fadein04"><img src="{{ 'img_brand03.png?v=1644307925' | file_url }}"
                    alt="3" loading="lazy" width="auto" height="auto"></div>
        </div>
    </div>
</div>