{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.6fa13737.css' | asset_url }}">
		 <style>html, body { 	/*  background-color: #E0B8C1; 	*/ 	 	background-color: #DDC8BD; } body, p, div, span { 	font-family: "Noto Sans JP"; 	/* font-weight: 300; 	*/ 	/* 	color: white ; 	*/ 	letter-spacing: 2px; } @media screen and (max-width:767px) { 	body, p, div, span { 	letter-spacing: 1px; } } #pc_footer_link a { 	text-decoration: none; 	color: white; } .site-header__section--brand { 	display: none; } @keyframes changing_opacity { 	0%   { 	opacity: 0.0; } 100% { 	opacity: 1.0; } } @keyframes changing_position { 	0%   { 	opacity: 0.0; 	padding-top: 3rem; } 100% { 	opacity: 1.0; 	padding-top: 0; } } @keyframes produced_by_sakura_miyawaki_rotation { 	0%   { 	transform: rotate(0deg); } 100% { 	transform: rotate(360deg); } } /* ファーストビューだけはスクロールと無関係にCSSで最初からアニメーションする */ .pc_main_visual_picture { 	animation: changing_opacity 2s ease-in-out 1s 1 both; } .pc_cran_by_molak_logo { 	animation: changing_opacity 2s ease-in-out 2s 1 both; } .pc_produced_by_sakura_miyawaki { 	animation:     produced_by_sakura_miyawaki_rotation 20s linear infinite,      changing_opacity 2s ease-in-out 3s 1 both; } .pc_anytime_anywhere { 	animation: changing_opacity 2s ease-in-out 4s 1 both; } .pc_sns_icons_in_first_view { 	animation: changing_opacity 2s ease-in-out 5s 1 both; } /* モバイルは順番が違うので別に定義 */ .mobile_main_visual_row { 	animation: changing_opacity 2s ease-in-out 1s 1 both; } .mobile_produced_by_sakura_miyawaki { 	animation:     produced_by_sakura_miyawaki_rotation 20s linear infinite,     changing_opacity 2s ease-in-out 2s 1 both; } .mobile_anytime_anywhere { 	animation: changing_opacity 2s ease-in-out 3s 1 both; } .mobile_cran_by_molak_logo { 	animation: changing_opacity 2s ease-in-out 4s 1 both; } /* ファーストビュー以外の要素はJSで交差を監視。 */ .delay { 	opacity: 0.2; } .delay.visible { 	animation: changing_position 1200ms ease-in-out 300ms 1 both; } .delay_section.visible { 	/* animation: changing_position 1200ms ease-in-out 300ms 1 both; 	*/ } /* tintブロック */ .delay.visible.tint_produced_by_sakura_miyawaki { 	animation:     produced_by_sakura_miyawaki_rotation 20s linear infinite,      changing_opacity 1500ms ease-in-out 300ms 1 both; } .delay.visible.tint_picture_01 { 	animation: changing_opacity 1500ms ease-in-out 1500ms 1 both; } .delay.visible.tint_picture_02 { 	animation: changing_opacity 1500ms ease-in-out 1800ms 1 both; } .delay.visible.tint_picture_03 { 	animation: changing_opacity 1500ms ease-in-out 2100ms 1 both; } .delay.visible.tint_bloom_jelly_tint { 	animation: changing_opacity 1500ms ease-in-out 2400ms 1 both; } /* 写真ブロック */ .delay.visible.photos_anytime_anywhere { 	animation: changing_opacity 1500ms ease-in-out 800ms 1 both; } .delay.visible.photos_text { 	animation: changing_opacity 1500ms ease-in-out 1500ms 1 both; } .delay.visible.photos_picture_01.delay { 	animation: changing_opacity 1500ms ease-in-out 1500ms 1 both; } .delay.visible.photos_picture_02 { 	animation: changing_opacity 1500ms ease-in-out 1500ms 1 both; } .delay.visible.photos_picture_03 { 	animation: changing_opacity 1500ms ease-in-out 1500ms 1 both; } @keyframes changing_opacity02 { 	0% { 	opacity: 0.0; } 98% { 	opacity: 0.0; } 100% { 	opacity: 1.0; } } @keyframes changing_position02 { 	0% { 	opacity: 0.0; 	padding-top: 3rem; } 98% { 	opacity: 0.0; 	padding-top: 3rem; } 100% { 	opacity: 1.0; 	padding-top: 0; } }  .delay.visible.photos_picture_04 { 	filter: none; 	animation: changing_opacity02 200ms linear 200ms 1 both; } .delay.visible.photos_picture_05 { 	filter: none; 	animation: changing_opacity02 400ms linear 400ms 1 both; } .delay.visible.photos_picture_06 { 	filter: none; 	animation: changing_opacity02 300ms linear 300ms 1 both; } .delay.visible.photos_picture_07 { 	filter: none; 	animation: changing_opacity02 500ms linear 500ms 1 both; } .delay.visible.photos_picture_08 { 	filter: none; 	animation: changing_opacity02 600ms linear 600ms 1 both; } #cran-by-molak-produced-by-sakura-miyawaki  .content-for-layout{ 	background-color: #DDC8BC!important; } .site-header--fixed .site-header__wrapper { 	background-color: transparent; } #cran-by-molak-produced-by-sakura-miyawaki .productList{ 	display: flex; 	justify-content: space-between; } #cran-by-molak-produced-by-sakura-miyawaki .productList li{ 	width: 22.3%; 	list-style: none; } .pc_main_visual_picture img{ width: auto;}</style> <style></style><div style="opacity:0" class="sc-giYglK hHzYuJ __pf __pf_oTc3GyeB" id="__pf"><div data-pf-type="Body" class="sc-dVNjXY gaVfQc pf-1_"><div data-pf-type="Layout" class="sc-kYHfwS HhpUT pf-2_"><div data-section-id="pf-c204" data-pf-type="Section" id="pc_footer_link" class="sc-eFegNN kRTGhu pf-3_ delay pf-lg-hide"><div class="sc-jWUzzU jXgGHC"><div class="sc-iJKOTD qriss pf-4_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-jHkVzv dZEEUA pf-5_"><p class="sc-htJRVC jYbLmW pf-6_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kTLmzF bGBrSp pf-8_">いつもCRAN BY MOLAKをご愛顧いただき誠にありがとうございます。<br><br>この度、CRAN BY MOLAKは2022年11月30日をもちまして<br>ECサイトでの販売を終了させて頂くことになりました。<br><br>公式EC、公式Qoo10店、公式スマセル店につきましては、<br>同日19:00にクローズさせていただきました。<br>小売店各店舗での販売は継続いたします。<br><br>お客様には、これまで長きにわたりご愛顧を賜り誠にありがとうございました。</span></p></div></div></div><div class="sc-iJKOTD qriss pf-9_ pf-r pf-hide" style="--s-xs:0px;--s-sm:15px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-jHkVzv dZEEUA pf-10_"><p class="sc-htJRVC jYbLmW pf-11_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kTLmzF bGBrSp pf-13_"><span style="color: rgb(255, 255, 255);"><a href="/policies/refund-policy" target="_self">キャンセル・変更規定・返品に関して</a></span></span></p><p class="sc-htJRVC jYbLmW pf-14_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kTLmzF bGBrSp pf-16_"><a href="/pages/legal-notice" target="_self">特定商取引法に基づく表記</a></span></p><p class="sc-htJRVC jYbLmW pf-17_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kTLmzF bGBrSp pf-19_"><a href="/policies/privacy-policy" target="_self">プライバシーポリシー</a></span></p><p class="sc-htJRVC jYbLmW pf-20_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kTLmzF bGBrSp pf-22_"><a href="/policies/terms-of-service" target="_self">利用規約</a></span></p><p class="sc-htJRVC jYbLmW pf-23_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kTLmzF bGBrSp pf-25_"><a href="/pages/legal-notice#shipping_fee" target="_self">送料に関して</a></span></p></div></div></div></div></div><div data-section-id="pf-cbd9" data-pf-type="Section" id="footer" class="sc-eFegNN kRTGhu pf-26_ pf-lg-hide"><div class="sc-jWUzzU jXgGHC"><div class="sc-iJKOTD qriss pf-27_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-jHkVzv dZEEUA pf-28_ delay"><div class="sc-iJKOTD qriss pf-29_ pf-r pf-r-eh" style="--s-xs:0px;--s-sm:1px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-jHkVzv dZEEUA pf-30_"><a data-action="url" href="https://www.instagram.com/cranbymolak_official/" target="_blank" data-pf-type="Image" id="mobile_instagram_body" class="sc-bBHHxi hHotGD pf-32_ instagram"><img src="https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/insta-1641958135205.png?v=1641958136" srcSet="https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/insta-1641958135205.png?v=1641958136 1536w" width="160" height="160"/></a><a data-action="url" href="https://lin.ee/OCRg6XE3" target="_blank" data-pf-type="Image" id="mobile_line_body" class="sc-bBHHxi hHotGD pf-33_ line"><img src="https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/line-1641957387286.png?v=1641957388" srcSet="https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/line-1641957387286.png?v=1641957388 1536w" width="160" height="160"/></a></div></div></div><p class="sc-htJRVC jYbLmW pf-34_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kTLmzF bGBrSp pf-36_">© CRAN BY MOLAK</span></p></div></div></div></div></div></div></div></div><script>
    !function(){window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.25.13","shopDomain":"cran-by-molak.myshopify.com","elementData":{},"pageTitle":"LAST","pageType":"home","pageId":"6fa13737-1b27-414f-a675-13a880504689","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Noto Sans JP":{"400":0}},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/3.25.13/core/helper.js" async></script><script>const commonOptions = {
  root: null,
  rootMargin: "0px 0px", // 画面の下端に触れたとき
  threshold: 0
};

const delayElements = document.querySelectorAll(".delay");
const delayObserver = new IntersectionObserver(addClassToDelayElements, commonOptions);
delayElements.forEach(element => {
  delayObserver.observe(element);
});
function addClassToDelayElements(entries) {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add("visible");
    }
  });
}
const delaySectionElements = document.querySelectorAll(".delay_section");
const delaySectionObserver = new IntersectionObserver(addClassToDelaySectionElements, commonOptions);
delaySectionElements.forEach(element => {
  delaySectionObserver.observe(element);
});
function addClassToDelaySectionElements(entries) {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add("visible");
    }
  });
}

// ------------------------------------------------------------------------------

/*
if (Cookies.get('popup_closed') == 'closed') {
  document.querySelectorAll('.popup').forEach(p => p.style.display = 'none');
}
*/

document.querySelectorAll('.popup_close').forEach(c => {
  c.addEventListener("touchstart",e => {
	document.querySelectorAll('.popup').forEach(p => p.style.display = 'none');
	Cookies.set('popup_closed', 'closed');
  });
  c.addEventListener("mousedown",e => {
	document.querySelectorAll('.popup').forEach(p => p.style.display = 'none');
	Cookies.set('popup_closed', 'closed');
  });
});

// ------------------------------------------------------------------------------

const conceptLink = document.querySelector("[href='/#concept']")
conceptLink.onclick = () => {
  if (location.pathname == '/') {
    location = '/index#concept'
  } else {
    location = '/#concept'
  }
}
const producerLink = document.querySelector("[href='/#producer']")
producerLink.onclick = () => {
  if (location.pathname == '/') {
  location = '/index#producer'
  } else {
    location = '/#producer'
  }
}

// ------------------------------------------------------------------------------

const closeButton = document.querySelector("nav .btn--clear")
closeButton.onclick = () => {
  if (document.querySelector(".site-header__wrapper").style.backgroundColor == "rgb(224, 184, 193)") {
    document.querySelector(".site-header__wrapper").style.backgroundColor = "transparent";
  } else {
    document.querySelector(".site-header__wrapper").style.backgroundColor = "rgb(224, 184, 193)";
  }
}

// ------------------------------------------------------------------------------
// var pc_twitter_mv = document.getElementById("pc_twitter_mv");
// pc_twitter_mv.onmouseover = function () {
//   pc_twitter_mv.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_twitter_hover-1631209110431.png?v=1631209117";
//   pc_twitter_mv.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_twitter_hover-1631209110431.png?v=1631209117";
// };
// pc_twitter_mv.onmouseout = function () {
//   pc_twitter_mv.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-445dde36--icontwitter.png?v=1629893208";
//   pc_twitter_mv.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-445dde36--icontwitter.png?v=1629893208";
// };
// var pc_twitter_body = document.getElementById("pc_twitter_body");
// pc_twitter_body.onmouseover = function () {
//   pc_twitter_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_twitter_hover-1631209110431.png?v=1631209117";
//   pc_twitter_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_twitter_hover-1631209110431.png?v=1631209117";
// };
// pc_twitter_body.onmouseout = function () {
//   pc_twitter_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-445dde36--icontwitter.png?v=1629893208";
//   pc_twitter_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-445dde36--icontwitter.png?v=1629893208";
// };
// var mobile_twitter_body = document.getElementById("mobile_twitter_body");
// mobile_twitter_body.onmouseover = function () {
//   mobile_twitter_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_twitter_hover-1631209110431.png?v=1631209117";
//   mobile_twitter_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_twitter_hover-1631209110431.png?v=1631209117";
// };
// mobile_twitter_body.onmouseout = function () {
//   mobile_twitter_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-445dde36--icontwitter.png?v=1629893208";
//   mobile_twitter_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-445dde36--icontwitter.png?v=1629893208";
// };

// var pc_instagram_mv = document.getElementById("pc_instagram_mv");
// pc_instagram_mv.onmouseover = function () {
//   pc_instagram_mv.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_instagram_hover-1631209110418.png?v=1631209111";
//   pc_instagram_mv.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_instagram_hover-1631209110418.png?v=1631209111";
// };
// pc_instagram_mv.onmouseout = function () {
//   pc_instagram_mv.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-39d5445d--iconinstagram.png?v=1629893202";
//   pc_instagram_mv.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-39d5445d--iconinstagram.png?v=1629893202";
// };
// var pc_instagram_body = document.getElementById("pc_instagram_body");
// pc_instagram_body.onmouseover = function () {
//   pc_instagram_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_instagram_hover-1631209110418.png?v=1631209111";
//   pc_instagram_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_instagram_hover-1631209110418.png?v=1631209111";
// };
// pc_instagram_body.onmouseout = function () {
//   pc_instagram_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-39d5445d--iconinstagram.png?v=1629893202";
//   pc_instagram_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-39d5445d--iconinstagram.png?v=1629893202";
// };
// var mobile_instagram_body = document.getElementById("mobile_instagram_body");
// mobile_instagram_body.onmouseover = function () {
//   mobile_instagram_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_instagram_hover-1631209110418.png?v=1631209111";
//   mobile_instagram_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_instagram_hover-1631209110418.png?v=1631209111";
// };
// mobile_instagram_body.onmouseout = function () {
//   mobile_instagram_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-39d5445d--iconinstagram.png?v=1629893202";
//   mobile_instagram_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-39d5445d--iconinstagram.png?v=1629893202";
// };

// var pc_line_mv = document.getElementById("pc_line_mv");
// pc_line_mv.onmouseover = function () {
//   pc_line_mv.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_line_hover-1631209110427.png?v=1631209114";
//   pc_line_mv.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_line_hover-1631209110427.png?v=1631209114";
// };
// pc_line_mv.onmouseout = function () {
//   pc_line_mv.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-d5445dde--iconline.png?v=1629893205";
//   pc_line_mv.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-d5445dde--iconline.png?v=1629893205";
// };
// var pc_line_body = document.getElementById("pc_line_body");
// pc_line_body.onmouseover = function () {
//   pc_line_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_line_hover-1631209110427.png?v=1631209114";
//   pc_line_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_line_hover-1631209110427.png?v=1631209114";
// };
// pc_line_body.onmouseout = function () {
//   pc_line_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-d5445dde--iconline.png?v=1629893205";
//   pc_line_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-d5445dde--iconline.png?v=1629893205";
// };
// var mobile_line_body = document.getElementById("mobile_line_body");
// mobile_line_body.onmouseover = function () {
//   mobile_line_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_line_hover-1631209110427.png?v=1631209114";
//   mobile_line_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/icon_line_hover-1631209110427.png?v=1631209114";
// };
// mobile_line_body.onmouseout = function () {
//   mobile_line_body.children[0].src = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-d5445dde--iconline.png?v=1629893205";
//   mobile_line_body.children[0].srcset = "https://cdn.shopify.com/s/files/1/0591/8130/1933/t/2/assets/pf-d5445dde--iconline.png?v=1629893205";
// };

// ------------------------------------------------------------------------------

window.onscroll = function () {
  var scroll_top_px = document.documentElement.scrollTop * 1.0;
  var html_height_px = document.body.scrollHeight;
  var html_visible_height_px = window.innerHeight;
  var html_visible_width_px = window.innerWidth;

  // PC
  if (1200 <= window.innerWidth) {
    var main_visual_height_vw = 70.0;
    var main_visual_scroll_height_px = html_visible_width_px * (main_visual_height_vw / 100);
    var sign_picture_height_px = 562;
    var sign_scroll_height_px = 700; // フッター等も含めた下からの高さ
    var scroll_bottom_px = scroll_top_px + html_visible_height_px;
    var margin_before_sign_scroll_height_px = (html_height_px - sign_scroll_height_px);

    // console.log('PC +++++++');
    // console.log({
    //   scroll_top_px: scroll_top_px,
    //   html_height_px: html_height_px,
    //   html_visible_height_px: html_visible_height_px,
    //   margin_before_sign_scroll_height_px: margin_before_sign_scroll_height_px,
    //   scroll_bottom_px: scroll_bottom_px,
    //   html_visible_width_px: html_visible_width_px,
    // });

    // スクロール処理は重いので画像が表示されている間だけにする
    if (scroll_top_px < main_visual_scroll_height_px) {
      var scroll_ratio = scroll_top_px / main_visual_scroll_height_px;
      var image_height = main_visual_height_vw + ((main_visual_height_vw * 0.05) * scroll_ratio); // 数字部分が拡大率
      document.querySelector(".pc_main_visual_picture").style.height = image_height + "vw";
    }
    if (margin_before_sign_scroll_height_px < scroll_bottom_px) {
      var scroll_px = scroll_bottom_px - margin_before_sign_scroll_height_px;
      var scroll_ratio = scroll_px / sign_scroll_height_px;
      var image_height = sign_picture_height_px + ((sign_picture_height_px * 0.08) * scroll_ratio); // 数字部分が拡大率
      document.querySelector(".pc_sign_picture").style.height = image_height + "px";
      // console.log('PC -------');
      // console.log({
      //   scroll_px: scroll_px,
      //   scroll_ratio: scroll_ratio,
      //   sign_picture_height_px: sign_picture_height_px,
      //   image_height: image_height,
      // });
    }
  }

  // Laptop
  if (1024 < window.innerWidth && window.innerWidth < 1200) {
    var main_visual_height_vw = 70.0;
    var main_visual_scroll_height_px = html_visible_width_px * (main_visual_height_vw / 100);
    var sign_picture_height_px = 562;
    var sign_scroll_height_px = 700; // フッター等も含めた下からの高さ
    var scroll_bottom_px = scroll_top_px + html_visible_height_px;
    var margin_before_sign_scroll_height_px = (html_height_px - sign_scroll_height_px);

    // console.log('Laptop +++++++');
    // console.log({
    //   scroll_top_px: scroll_top_px,
    //   html_height_px: html_height_px,
    //   html_visible_height_px: html_visible_height_px,
    //   margin_before_sign_scroll_height_px: margin_before_sign_scroll_height_px,
    //   scroll_bottom_px: scroll_bottom_px,
    //   html_visible_width_px: html_visible_width_px,
    // });

    // スクロール処理は重いので画像が表示されている間だけにする
    if (scroll_top_px < main_visual_scroll_height_px) {
      var scroll_ratio = scroll_top_px / main_visual_scroll_height_px;
      var image_height = main_visual_height_vw + ((main_visual_height_vw * 0.05) * scroll_ratio); // 数字部分が拡大率
      document.querySelector(".pc_main_visual_picture").style.height = image_height + "vw";
    }
    if (margin_before_sign_scroll_height_px < scroll_bottom_px) {
      var scroll_px = scroll_bottom_px - margin_before_sign_scroll_height_px;
      var scroll_ratio = scroll_px / sign_scroll_height_px;
      var image_height = sign_picture_height_px + ((sign_picture_height_px * 0.08) * scroll_ratio); // 数字部分が拡大率
      document.querySelector(".laptop_sign_picture").style.height = image_height + "px";
      // console.log('Laptop -------');
      // console.log({
      //   scroll_px: scroll_px,
      //   scroll_ratio: scroll_ratio,
      //   sign_picture_height_px: sign_picture_height_px,
      //   image_height: image_height,
      // });
    }
  }

  // Tablet
  if (768 <= window.innerWidth && window.innerWidth <= 1024) {
    var main_visual_height_vw = (2514 / 2000) * 100;
    var main_visual_scroll_height_px = html_visible_width_px * (main_visual_height_vw / 100);
    var sign_picture_height_px = 544;
    var sign_scroll_height_px = 500; // フッター等も含めた下からの高さ
    var scroll_bottom_px = scroll_top_px + html_visible_height_px;
    var margin_before_sign_scroll_height_px = (html_height_px - sign_scroll_height_px);

    // console.log('Tablet +++++++');
    // console.log({
    //   scroll_top_px: scroll_top_px,
    //   html_height_px: html_height_px,
    //   html_visible_height_px: html_visible_height_px,
    //   margin_before_sign_scroll_height_px: margin_before_sign_scroll_height_px,
    //   scroll_bottom_px: scroll_bottom_px,
    //   html_visible_width_px: html_visible_width_px,
    // });

    // スクロール処理は重いので画像が表示されている間だけにする
    if (scroll_top_px < main_visual_scroll_height_px) {
      var scroll_ratio = scroll_top_px / main_visual_scroll_height_px;
      var image_height = main_visual_height_vw + ((main_visual_height_vw * 0.1) * scroll_ratio); // 数字部分が拡大率
      document.querySelector(".mobile_main_visual_picture").style.height = image_height + "vw";
    }
    if (margin_before_sign_scroll_height_px < scroll_bottom_px) {
      var scroll_px = scroll_bottom_px - margin_before_sign_scroll_height_px;
      var scroll_ratio = scroll_px / sign_scroll_height_px;
      var image_height = sign_picture_height_px + ((sign_picture_height_px * 0.05) * scroll_ratio); // 数字部分が拡大率
      document.querySelector(".tablet_sign_picture").style.height = image_height + "px";
      // console.log('Tablet -------');
      // console.log({
      //   scroll_px: scroll_px,
      //   scroll_ratio: scroll_ratio,
      //   sign_picture_height_px: sign_picture_height_px,
      //   image_height: image_height,
      // });
    }
  }

  // SP
  if (window.innerWidth < 768) {
    var main_visual_height_vw = (2514 / 2000) * 100;
    var main_visual_scroll_height_px = html_visible_width_px * (main_visual_height_vw / 100);
    var sign_picture_height_vw = (276 / 320) * 100;
    var sign_scroll_height_vw = (400 / 320) * 100; // フッター等も含めた下からの高さ
    var sign_picture_height_px = html_visible_width_px * (sign_picture_height_vw / 100);
    var sign_scroll_height_px = html_visible_width_px * (sign_scroll_height_vw / 100);
    var scroll_bottom_px = scroll_top_px + html_visible_height_px;
    var margin_before_sign_scroll_height_px = (html_height_px - sign_scroll_height_px);

    // console.log('SP +++++++');
    // console.log({
    //   scroll_top_px: scroll_top_px,
    //   html_height_px: html_height_px,
    //   html_visible_height_px: html_visible_height_px,
    //   margin_before_sign_scroll_height_px: margin_before_sign_scroll_height_px,
    //   scroll_bottom_px: scroll_bottom_px,
    //   html_visible_width_px: html_visible_width_px,
    // });

    // スクロール処理は重いので画像が表示されている間だけにする
    if (scroll_top_px < main_visual_scroll_height_px) {
      var scroll_ratio = scroll_top_px / main_visual_scroll_height_px;
      var image_height = main_visual_height_vw + ((main_visual_height_vw * 0.1) * scroll_ratio); // 数字部分が拡大率
      document.querySelector(".mobile_main_visual_picture").style.height = image_height + "vw";
    }
    if (margin_before_sign_scroll_height_px < scroll_bottom_px) {
      var scroll_px = scroll_bottom_px - margin_before_sign_scroll_height_px;
      var scroll_ratio = scroll_px / sign_scroll_height_px;
      var image_height = sign_picture_height_px + ((sign_picture_height_px * 0.06) * scroll_ratio); // 数字部分が拡大率
      document.querySelector(".sp_sign_picture").style.height = image_height + "px";
      // console.log('SP -------');
      // console.log({
      //   scroll_px: scroll_px,
      //   scroll_ratio: scroll_ratio,
      //   sign_picture_height_px: sign_picture_height_px,
      //   image_height: image_height,
      // });
    }
  }


};</script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=6fa13737-1b27-414f-a675-13a880504689)."
    }
  ]
}
{% endschema %}